header {
    text-align: center;
    margin: 40px auto;
}
input {
    width: 35vw;
    height: 30px;
    box-shadow: 0 0 5px rgb(221, 221, 221);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
}